<Button Active=@IsEnabled() @onclick="Click">
    @AuctionCheck.BidName(bid)
</Button>

@using Bidding;

@code {
    [Parameter]
    public List<Bidding.Bid> auction {get; set; }
    
    [Parameter]
    public Bidding.Bid bid { get; set; }

    [Parameter]
    public Action onClick { get; set; }

    [Parameter]
    public bool Enabled { get; set; }

    private void Click() {
        onClick();
    }
    
    private bool IsEnabled() => (Enabled && Bidding.AuctionCheck.Allowed(bid, auction));
}