@using Bidding;

<table>
@foreach (int level in levels) {
    <tr>
        @foreach (Suit suit in suits) {
            <td>
                <BidButton auction="@Auction" Enabled=@Enabled bid=@(new Bidding.Raise(level, suit)) onClick=@(() => MakeBid(new Bidding.Raise(level, suit))) />
            </td>
        }
    </tr>
}
</table>

@foreach (Bidding.Bid bid in new Bidding.Bid[]{new Bidding.Pass(), new Bidding.Double(), new Bidding.Redouble()}) {
    <BidButton auction="@Auction" Enabled=@Enabled bid=@bid onClick=@(() => MakeBid(bid)) />
}

@code {
    [Parameter]
    public List<Bidding.Bid> Auction { get; set; }

    [Parameter]
    public Action<Bidding.Bid> MakeBid { get; set; }
    
    [Parameter]
    public bool Enabled { get; set; }

    int[] levels = new int[]{1, 2, 3, 4, 5, 6, 7};
    Suit[] suits = new Suit[]{Suit.Clubs, Suit.Diamonds, Suit.Hearts, Suit.Spades, Suit.Notrump};
}
