@using Bidding
@using Conventions

<fieldset>
    <legend>Scoring</legend>
    <InputRadioGroup @bind-Value="IMPs">
        <InputRadio Value="true">IMPs</InputRadio>
        <InputRadio Value="false">Matchpoints</InputRadio>
    </InputRadioGroup>
</fieldset>

<fieldset>
    <legend>Bidding system</legend>
    <InputSelect @onchange="NewSystemSelected" @bind-Value="system">
        @foreach ((System optSystem, string name) in new[] {
            (System.TwoOverOne, "2/1"),
            (System.Precision, "Meckwell Lite Precision"),
            (System.Acol, "Acol"),
            (System.SAYC, "SAYC"),
            (System.WJ, "WJ (Polish Club)")
        }) {
                <option checked="@(system == optSystem)" value="@name">@name</option>
        }
    </InputSelect>
</fieldset>

<Accordion>
    <AccordionItem title="Set conventions">
        <Content>
            <SelectList @ref="SelectConventions" T="string" Elements="@conventions.Select(c => (c, c)).ToList()" />
        </Content>
    </AccordionItem>
</Accordion>

@code {
    [Parameter]
    public bool IMPs {get; set;}
    [Parameter]
    public System system { get; set; }
    private List<string> conventions = Bidder.SupportedConventions();
    public SelectList<string> SelectConventions;
    public void NewSystemSelected(ChangeEventArgs? e) {
        SelectConventions.SetSelected(conventions.Select(c => Conventions.GetConvention(system, c)).ToList());
    }
    public (bool, System, List<string>) GetGameInfo() {
        return (IMPs, system, SelectConventions.GetSelected());
    }
}
