<Modal @ref="modal" Title="Enter hand" OnHiding="OnHidingModal">
    <BodyTemplate>
        <HandEntry @ref=handEntry />
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="Clear">Clear</Button>
        <Button Color="ButtonColor.Primary" @onclick="HideModal">OK</Button>
    </FooterTemplate>
</Modal>

<Button Color=@color @onclick="ShowModal">Enter hand</Button>


@using Bidding;

@code {
    private HandEntry handEntry;
    private ButtonColor color = ButtonColor.Primary;
    private List<(Suit, int)> cards = [];
    public List<(Suit, int)> GetCards() {
        return cards;
    }
    private Modal modal;

    private async Task ShowModal() {
        await modal.ShowAsync();
        handEntry.SetCards(new List<(Suit, int)>{(Suit.Spades, 3)});
        Console.WriteLine("Should be set by now");
        
    }
    private async Task HideModal() {
        cards = handEntry.GetCards();
        await modal.HideAsync();
    }
    public void Clear() {
        handEntry.Clear();
    }
    private void OnHidingModal() {
        if (GetCards().Count() == 13) {
            color = ButtonColor.Secondary;
        } else {
            color = ButtonColor.Primary;
        }
    }
}
