@using BlazorBootstrap

<Button Color="ButtonColor.Primary" Outline=@(!Active) Active=@Active @onclick="() => {Active = !Active;}">@ChildContent</Button>

@code {
    [Parameter]
    public bool Active { get; set; }
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}


