@using BlazorBootstrap

<Button Color="ButtonColor.Primary" Outline=@(!Active) Active=@Active @onclick="Toggle">@ChildContent</Button>

@code {
    [Parameter]
    public bool Active { get; set; }
    [Parameter]
    public EventCallback<bool> ActiveChanged { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private async Task Toggle() {
        Active = !Active;
        await ActiveChanged.InvokeAsync(Active);
    }
}


